 h3 {
            color: darkblue;
            background-color: aqua;
            
        }
.grandparent {
    background-color: aqua;
    width: 200px;
    height: 200px;
}

div {
    
}

.grandparent {
    background-color: aqua;
    width: 200px;
    height: 200px;
}

h3 {
    
}
