@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Filled');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/icon?family=Material+Sharp');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');

@import "./reset.css";

@import "./variable.css";

@import "./navigation-bar.css";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@import "./media-query.css";

*{
    box-sizing: border-box; 
}
/* 모든 요소를 화면 안에 포함시킴 */

body {
    font-family: 'Nanum Gothic', sans-serif;
    background: var(--background-purple-);
    color: #fff;
}

input {
    border: none;
    outline: none;
    appearance: none;
}

.display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative {
    position: relative;
}